@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);

* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 20px;
	background-color: #090a0e;
	color: #aeaeae;
}

.container {
	background-color: #0f1014;
	padding: 14px;

	display: grid;
	gap: 15px;

	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.centering {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.header-input {
	padding: 10px;
	outline: none;
	border-radius: 5px;
	color: rgb(238, 121, 121);
	background-color: #232839c3;
	border: 0;
	&:focus {
		background: #232839;
	}
}

.header-btn {
	user-select: none;
	padding: 8.5px;
	background-color: rgb(238, 121, 121);
	border: 0;
	border-radius: 3px;
	margin-left: 2px;
	cursor: pointer;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 22px;
	.header-link {
		// font-size: 36px;
		// cursor: pointer;
		// text-decoration: none;
		// color: whitesmoke;
		// background: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);
		user-select: none;
		font-family: 'Rubik One', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		background: rgba(238, 121, 121, 0.2);
		display: table;
		color: white;
		border-radius: 5px;
		mix-blend-mode: difference;
		padding: 5px 10px;
	}
}

.movie-cover {
	width: 100%;
}
.movie-title {
	margin: 10px 3px 5px 2px;
}

.movie-placeholder {
	min-height: 225px;
	background: #aeaeae;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #232839c3;
}

.hero {
	position: relative;
	min-height: 600px;
	border-radius: 10px;
	background-position: top center;
	// background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

.hero-content {
	max-width: 70%;
	padding-bottom: 60px;
}

.hero-overview {
	user-select: none;
	line-height: 26px;
	color: coral;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	text-align: left;
	padding-left: 14px;
	padding-right: 7px;
}

.hero-title {
	font-size: 72px;
	user-select: none;
	color: white;
	position: absolute;
	top: 40px;
	text-align: center;
}

.none {
	display: none;
}

.hero-btn {
	user-select: none;
	margin: 14px auto;
	border: 0;
	background-color: transparent;
	cursor: pointer;

	&-play {
		position: absolute;
		z-index: 9;
		left: 40px;
		bottom: 40px;
	}
}

.youtube-container {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}
